/* Navigation bar */
nav {
    background-color: #777777;
    border-radius: 7px;
}

/* List of navigation elements */
.pages ol {
    list-style-type: none;
    padding: 4px;
}

/* Navigation element container */
.page {
    display: inline-block;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #bbbbbb;
}

/* Navigation element */
.page a {
    display: inline-block;
    margin: 2px;
    padding: 0;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #555555;
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
}

/* Header for positioning.html */
header {
    border-bottom: 1px solid black;
}

#position {
    font-family: 'coiny';
    font-size: 36px;
}

.main {
    position: relative;
    border: solid;
    background-color: #000000;
    height: 60vh;
    top: -3.5vh;
}

.main p {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main div {
    position: absolute;
    width: 33%;
    height: 33%;
    border: solid;
    color: #ffffff;
}

#position .northwest {
    background-color: #0000ff;
}

#position .north {
    background-color: #000088;
    width: 34%;
    left: 33%;
}

#position .northeast {
    background-color: #000044;
    right: 0;
}

#position .west {
    background-color: #00ff00;
    height: 34%;
    top: 33%;
}

#position .center {
    background-color: #008800;
    width: 34%;
    height: 34%;
    top: 33%;
    left: 33%;
}

#position .east {
    background-color: #004400;
    height: 34%;
    top: 33%;
    right: 0;
}

#position .southwest {
    background-color: #ff0000;
    bottom: 0;
}

#position .south {
    background-color: #880000;
    width: 34%;
    bottom: 0;
    left: 33%;
}
#position .southeast {
    background-color: #440000;
    bottom: 0;
    right: 0;
}

footer {
    position: relative;
    border-top-style: solid;
    background-color: #999999;
}
