.navigation {
    position: relative;
}

.navigation ul {
    list-style-type: none;
    background-color: #aaaaaa;
}

.navigation a {
   text-decoration: none;
   color: #000000;
   border-right-style: solid;
   border-left-style:solid;
   padding: 0 20px;
   margin: 0;
}

.introduction {
    position: relative;
    border-bottom-style: solid;
}

#position {
    font-family: 'coiny';
    font-size: 36px;
}

.main {
    position: relative;
    border-bottom-style: solid;
}

#position .northwest {
    position: relative;
    top: 0;
    left: 0;
    width: 50%;
    border: solid;
}

#position .northeast {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    border: solid;
    text-align: right;
}

#position .center {
    position: relative;
    border: solid;
    text-align: center;
}

#position .southwest {
    position: absolute;
    left: 0;
    width: 50%;
    border: solid;
}

#position .southeast {
    position: absolute;
    right: 0;
    width: 50%;
    border: solid;
    text-align: right;
}
